@import url("https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi&family=Trade+Winds&display=swap");

body {
}

.game-body {
  margin: 0;
  padding: 0;
  background-image: url("../Assets/bodybackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  /* flex-direction: row;
  max-width: 100vw;
  margin-top: 5vh;
  max-height: 100vh; */
}

.boat-button {
  font-size: 2rem;
  font-family: "Trade Winds", cursive;
  color: #c3853f;
}

.youtube-video {
  font-family: "Trade Winds", cursive;
  color: #fceb65;
}

body > img {
  margin-top: 0vh;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  border: 2px solid black;
  background-image: url(../Assets/jungle.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
}

.column-30 {
  flex: 1.5;
  align-self: center;
  text-align: right;
}

.column-40 {
  flex: 1;
  min-width: 800px;
}

.row {
  display: flex;
  margin-top: 16vh;
}

.div1 {
  width: 20vw;
}

.youtube-video {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding-left: 50px;
}

h1 {
  font-size: 3rem;
  text-align: center;
  color: #fceb65;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #995526;
}

.div3 {
  font-family: "Trade Winds", cursive;
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.div2 {
  color: #fceb65;
  font-family: "Trade Winds", cursive;
}

#game-over {
  display: none;
  box-sizing: border-box;
  border: 1px solid black;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 0 8px rgb(207, 207, 207);
  text-align: center;
  background-color: cadetblue;
}

#game-over:hover {
  cursor: pointer;
}

.boat-button {
  box-sizing: border-box;
  border: 1px solid black;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 0 8px rgb(207, 207, 207);
}

.boat-button:hover {
  border: 1px transparent black;
  padding: 15px;
  border-radius: 15px;
  box-shadow: inset 0 0 8px #f9f8fc;
  cursor: pointer;
}
#home-button {
  color: #cc9238;
  font-family: "Trade Winds", cursive;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #995526;
  padding: 0.5rem;
  width: 10rem;
  height: 4rem;
  white-space: nowrap;
  text-align: center;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: 2px solid darkgoldenrod;
}
#start-button {
  color: #cc9238;
  font-family: "Trade Winds", cursive;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #995526;
  padding: 1.5rem 5rem;
  font-size: 3rem;
  border-radius: 0.5rem;
  border: 2px solid darkgoldenrod;
}

#start-button:hover {
  cursor: pointer;
}

.image-holder {
  text-align: center;
}

.button-holder {
  text-align: center;
}

.video-holder {
  display: flex;
  justify-content: center;
}

#game-board {
  position: relative;
  height: 800px;
  width: 600px;
  margin: 0 auto;
}

#game-over-video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: none;
}

p { 
  color: #6b3418;
  font-family: "Trade Winds", cursive;
  -webkit-text-stroke-width: 0.75px;
  -webkit-text-stroke-color: #edd174;
  padding: 1.5rem 5rem;
  font-size: 3.5rem;
}

@media all and (max-width: 1600px) {
  html {
    font-size: 6px;
  }
}

.gameovertext {
  color: #6b3418;
  font-family: "Trade Winds", cursive;
  -webkit-text-stroke-width: 0.75px;
  -webkit-text-stroke-color: #edd174;
}

.yourscore {
  color: #6b3418;
  font-family: "Trade Winds", cursive;
  -webkit-text-stroke-width: 0.75px;
  -webkit-text-stroke-color: #edd174;
}